  <!--Footer-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="display-6">
        <h6 class="navbar-brand" href="#">&copy; Copyright Prashant Sharma 2021. All Rights Reserved. </h6>
      </div>
    </nav>
  </footer>