 
 <body>
  <!--Main Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><img alt="logoKathmanduSkyline" src="/Assets/images/logo.png" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <!--Code to activate the navbar items according to page the user is in-->
          <li class="nav-item ">
          <% if(title=='Home') { %>
            <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-lg fa-home"></i>&nbsp;Home</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-lg fa-home"></i>&nbsp;Home</a>
         <% } %>
          </li> 
          <!--If the user is in a page with a given title (e.g. "Home") then the navigation link for that page lights up (or activates)-->

          <li class="nav-item">
            <% if(title=='About') { %>
            <a class="nav-link active" aria-current="page" href="/about"><i class="fas fa-lg fa-info-circle"></i>&nbsp;About</a>
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/about"><i class="fas fa-lg fa-info-circle"></i>&nbsp;About</a>
              <% } %>
          </li>

          <li class="nav-item">
            <% if(title=='Projects') { %>
             <a class="nav-link active" aria-current="page" href="/projects"><i class="fas fa-list-alt"></i>&nbsp;Projects</a>
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/projects"><i class="fas fa-list-alt"></i>&nbsp;Projects</a>
              <% } %>
          </li>

          <li class="nav-item">
            <% if(title=='Services') { %>
              <a class="nav-link active" aria-current="page" href="/services"><i class="fas fa-lg fa-tools"></i>&nbsp;Services</a>
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/services"><i class="fas fa-lg fa-tools"></i>&nbsp;Services</a>
              <% } %>
          </li>

          <li class="nav-item">
            <% if(title=='Book List') { %>
              <a class="nav-link active" aria-current="page" href="/book_list"><i class="fas fa-book"></i></i>&nbsp;Books</a>
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/book_list"><i class="fas fa-book"></i></i>&nbsp;Books</a>
              <% } %>
          </li>

          <li class="nav-item">
            <% if(title=='Contact') { %>
             <a class="nav-link active" aria-current="page" href="/contact"><i class="fas fa-lg fa-phone"></i>&nbsp;Contact</a>
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/contact"><i class="fas fa-lg fa-phone"></i>&nbsp;Contact</a>
              <% } %>

          </li>

          <% if(typeof displayName=='string' && displayName){ %>
            <li class="navbar-text"><i class="fas fa-lg fa-user"></i>Welcome, <%-displayName %></li>
            <li class="nav-item"><a href="/logout" class="nav-link"><i class="fas fa-lg fa-sign-out-alt"></i>Logout</a></li>
          <%} else {%>
              <li class="nav-item"><a href="/login" class="nav-link">
                <i class="fas fa-lg fa-sign-in-alt"></i>Login</a></li>
            <%}%>
      </div>
    </div>
  </nav>