<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!--Main content-->
  <main class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <img src="/Assets/images/prashantPhoto.jpg" height="280px" style="float:left; margin-right: 10px;">
        <p>My name is <b>Prashant Sharma</b> and I am currently enrolled at Centennial College in the Artificial Intelligence program.</p>

        <p>I am currently learning Java, C#, and JavaScript (node.js framework). This website attempts to showcase 
           programming and design techniques I have hitherto learned and the <a href="/services">services</a> I can offer. </p>
            
           <p> I have had a previous career in teaching college students the literature and writing.
             I have always put emphasis on clear and concise composition, and I am impressed how deep the same principles go in writing scripts. 
             As I pursue my studies I want to learn more about NLP and explore the relation between natural and
             and programming language.
            </p>
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>