<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!--Main content-->
  <main>
    <div class="bg-light p-5 rounded-lg m-3">
        <img src="/Assets/images/sharmaPhoto.jpg" height="230px" style="float:left; margin-right: 10px;">
        <p>My name is <b>Prashant Sharma</b> and I am currently enrolled at Centennial College in the Artificial Intelligence program.
        </p>
        <p>I am currently learning Java, C#, python, and JavaScript (node.js framework). This website attempts to showcase 
           programming and design techniques I have learned and the <a href="/services">services</a> I can offer.
        </p>  
        <p> I have had a previous career in teaching college students the literature and writing.
            I have always put emphasis on clear and concise composition, and I am impressed by the depth to which the same principles apply in writing scripts. 
            As I pursue my studies I want to learn more about NLP and explore the deeper relation between natural and
            programming languages.
        </p>
    </div>
  </main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>