<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!--Main content-->
  <main class="container">
    <div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">I have been involved in a number of projects during my time at Centennial</b>.</h1> 
  </div>

  <div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Projects:</h1> 
    <div class="description" style="position:relative;">
		<a href="http://studentweb.cencol.ca/pshar228/Project/home.html">
	<img alt="project1" src="Assets/images/realEstate.png" width="300"></a>
	<p> 
		This individual project mimics the look feel of a professional real estate website
    and includes such components as the agent profile, property listings, and contact form. The project
    maintains an impeccably professional tone throughout the visual and written portion of the website  </p> </div>
	<div class="description"><a href="http://studentweb.cencol.ca/pshar228/clientSide/Assignment05/Assignment05.htm">
	<img alt="project2" src="Assets/images/bugSmasher.png" width="300"></a>
	<p>This individual project is an interactive javascript game that requires the player to smash a bug randomly jumping around
        a leaf. The score goes up if the user succeeds in smashing the but and the interval goes down. The user can 
    reset the score and interval anytime he or she chooses. </p></div>
	<div class="description"><a href="http://studentweb.cencol.ca/pshar228/clientSide/Assignment06/Assignment06.html">
	<img alt="project3" src="Assets/images/slideShow.png" width="300"></a><p>
        This individual project implements jQuery and AJAX to create a self-moving picture slideshow application. The application uses
        AJAX to imports a separate Json file that includes the description of the picture and other information. 
    </p></div>
  </div>

  
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>