<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!--Main content-->
  <main class="container">
    <div class="bg-light p-5 rounded-lg m-3">
       <h1 class="display-4">Listed are the services I can provide in near future</b></h1> 
    </div>

    <!--Three services listed below-->
    <div class="bg-light p-5 rounded-lg m-3">
      <h1 class="display-4">Services:</h1> 
      <div class="description">
	      <img alt="service1" src="Assets/images/webDesign.png" width="280">
        	<p> <b>Full Stack Web Design:</b></p>
          <p> I am familiar with server-side scripting (MEAN stack) along knowledgeable in fundamental 
              principles of compelling front-end design. I also have strong writing skills to supplement my visual
              design skills. 
          </p> 
      </div>

	    <div class="description">
      	<img alt="service2" src="Assets/images/programming.png" width="280">
        	<p><b>General Programming:</b></p>
          <p>I am  familiar with object-oriented programming principles and related database concepts. I am
              also practiced in numerous programming languages such as C#, Java, JavaScript, and Python. 
          </p>
      </div>

    	<div class="description">
	      <img alt="service3" src="Assets/images/technicalWriting.png" width="280">
         <p> <b>Technical Writing:</b></p> 
         <p>  I have intimate familiarity with components of SRS document and produce consistent deliverables in a high pressure environment, whether
              independently or as part of a team. I have excellent verbal and written communication skills, having been previously employed as a writing and composition
              instructor at <a href="https://english.yale.edu/">Yale University English Department.</a> 
          </p>
      </div>
    </div>
  </main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>