<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!--Main content-->
  <main class="container">
    <div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">I have been involved in a number of projects at Centennial</b>.</h1> 
  </div>
  <!--Three projects listed below-->
  <div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Projects:</h1> 

    <div class="description">
		  <a href="http://studentweb.cencol.ca/pshar228/Project/home.html">
	       <img alt="project1" src="Assets/images/realEstate.png" width="250">
      </a>
	    <p> 
        <p><b>Real Estate Website:</b></p>
		    This individual project reproduces the look feel of a professional real estate website.
         It includes such components as the agent profile, property listings, and contact form. The website
         maintains an impeccably professional tone throughout the visual as well as written portions. 
      </p> 
    </div>

	  <div class="description">
      <a href="http://studentweb.cencol.ca/pshar228/clientSide/Assignment05/Assignment05.htm">
	     <img alt="project2" src="Assets/images/bugSmasher.png"  height="190">
      </a>
	    <p>
        <p><b>Bug Smasher:</b></p>
         This individual project is an interactive javascript game that requires the player to smash a bug randomly jumping around
        a leaf. The score goes up if the user succeeds and the jump interval shortens. The user can 
         reset the score and interval at any moment.
     </p>
   </div>

  	<div class="description">
      <a href="http://studentweb.cencol.ca/pshar228/clientSide/Assignment06/Assignment06.html">
	      <img alt="project3" src="Assets/images/slideShow.png" width="250">
      </a>
      <p>
        <p><b>Slideshow</b></p>
        This picture slideshow app uses JQuery and AJAX toolkit to import in real time  information about a given picture from an external source. 
        This is an individual project. 
     </p>
    </div>

  </div>  
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>