/*
Filename: /Content/app.css
Student Name: Prashant Sharma
Student ID: 301175737
Date: Oct 2, 2021
*/

/*Custom Css goes here*/
#logo{
    height: 70px;
}

label, input, textarea{
    line-height:1.2em;
    margin:10px;
    border-radius:5px;
}
label{
    width: 6em;
    text-align:left;
    float:left;
}
input, textarea{
    width:15em;
}
fieldset{
    border-radius:10px;
    color:gray;
    margin:10px;
}
legend{
    border-radius:5px;
    border:solid;
    line-height:2em;
    background-color:gray;
    color:white;
}
form{
    width:680px; 
    margin-right:auto; 
    margin-left:auto;
}
.boxShadowStyle{
    box-shadow: 3px 3px 3px 3px gray;
}
.description {
	overflow: auto;
	height: 200px;
	padding: 10px;
	margin: 10px;
     background-color: white;
	color: gray;
	border-radius: 10px;
	opacity: 0.9;
	line-height:2;	
	
}
.description img{
float:right;
margin-left:6px;
}

.description a:hover img{
	transform: scale(1.2);
}