/*Custom Css goes here*/
#logo{
    height: 70px;
}
<style>
header {
margin: 10px;
box-shadow: 3px 3px 3px 3px gray;
border-radius: 6px;
color: white;
padding: .5em 0 .5em 5.5em;
height: 150px;
background-image: url('Toronto-Skyline-banner-1024x218.jpg');
text-transform: capitalize;
font-variant: small-caps;
font-weight: bold;
font-family: "Times New Roman", Times, serif;
font-size:60px;
position:relative;
}
label, input, textarea{
    line-height:1.2em;
    margin:10px;
    border-radius:5px;
}
label{
    width: 6em;
    text-align:left;
    float:left;
}
input, textarea{
    width:15em;
}
fieldset{
    border-radius:10px;
    color:gray;
}
legend{
    border-radius:5px;
    border:solid;
    line-height:2em;
    background-color:gray;
    color:white;
}
form{
    width:680px; 
    margin-right:auto; 
    margin-left:auto;
}
.boxShadowStyle{
    box-shadow: 3px 3px 3px 3px gray;
}